.text-size-10 {
    -fx-font-size: 10px !important;
}
.text-size-11 {
    -fx-font-size: 11px !important;
}
.text-size-12 {
    -fx-font-size: 12px !important;
}
.text-size-13 {
    -fx-font-size: 13px !important;
}
.text-size-14 {
    -fx-font-size: 14px !important;
}
.text-size-15 {
    -fx-font-size: 15px !important;
}
.text-size-16 {
    -fx-font-size: 16px !important;
}
.text-size-17 {
    -fx-font-size: 17px !important;
}
.text-size-18 {
    -fx-font-size: 18px !important;
}
.text-size-19 {
    -fx-font-size: 19px !important;
}
.text-size-20 {
    -fx-font-size: 20px !important;
}
.text-size-21 {
    -fx-font-size: 21px !important;
}
.text-size-22 {
    -fx-font-size: 22px !important;
}
.text-size-23 {
    -fx-font-size: 23px !important;
}
.text-size-24 {
    -fx-font-size: 24px !important;
}
.text-size-25 {
    -fx-font-size: 25px !important;
}
.text-size-26 {
    -fx-font-size: 26px !important;
}
.text-size-27 {
    -fx-font-size: 27px !important;
}
.text-size-28 {
    -fx-font-size: 28px !important;
}
.text-size-29 {
    -fx-font-size: 29px !important;
}
.text-size-30 {
    -fx-font-size: 30px !important;
}

.text-white {
    -fx-text-fill: #fff !important;
}